
/* font settings */


// .inter-<uniquifier> {
//   font-family: "Inter", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }


// .raleway-<uniquifier> {
//   font-family: "Raleway", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }


// .open-sans-<uniquifier> {
//   font-family: "Open Sans", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
//   font-variation-settings:
//     "wdth" 100;
// }

/* variables */

:root {
  --color-primary: #4E47FF;
  --color-font-black1: #000000;
  --color-font-black2: #1E1E1E;
  --color-font-black3: #252432;
  --color-font-grey1: #8987A1;
  --color-font-grey2: #757575;
  --color-font-grey3: #B3B3B3;
  --color-primary-dark: #BA265D;
  --color-star: #FFB805;
  --color-white: #ffffff;

  //bg
  --color-bg-lightblue: #e5e7ff;
  --color-bg-light-white: #f5f8ff;

  // card bg
  --color-card-bg: #fafcff;

  // font
  --font-raleway: "Raleway", sans-serif;
  --font-inter: "Inter", sans-serif;
}


/* common page settings */

* {
  margin: 0;
  padding: 0;
}


html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */


  @media screen and (max-width: 900px) {
    font-size: 56.25%; /* 1rem = 9px */
  }

  @media screen and (max-width: 700px) {
    font-size: 50%; /* 1rem = 8px */
  }
}


*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 1rem;
}

a {
  text-decoration: none;
}

li {
    list-style: none;
}